/* @view-transition {
  navigation: auto;
} */

:root {
  background: oklch(var(--color-background));
  scrollbar-color: oklch(var(--color-primary)) oklch(var(--color-background));
}

body {
  accent-color: oklch(var(--color-primary));
  container: body / inline-size;
  color: oklch(var(--color-foreground));
  font-family: 'Raleway', sans-serif;
  font-synthesis: none;
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-1);
  margin-inline: auto;
  max-inline-size: calc(1920 * var(--rem));
  overflow-x: clip;
  padding-inline: var(--page-margin);
  position: relative;
}

[class*='🖕'] {
  display: none;
}
