.Document {
  --outline: calc((2 / 16) * 1rem) dashed oklch(var(--color-secondary));
  background: oklch(var(--color-background));
  color: oklch(var(--color-foreground));
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

@media screen {
  .Lightmode {
    --color-background: var(--db-light);
    --color-background2: var(--db-white);
    --color-foreground: var(--db-dark);

    --color-primary: var(--db-blue);
    --color-primary2: var(--db-blue2);
    --color-secondary: var(--db-pink);
    --color-secondary2: var(--db-red);
    --color-tertiary: var(--db-pink);
    --color-quaternary: var(--db-green);

    --masthead-primary: var(--db-green);
    --masthead-secondary: var(--db-blue);
  }

  .Darkmode {
    --color-background: var(--db-dark);
    --color-background2: var(--db-black);
    --color-foreground: var(--db-light);

    --color-primary: var(--db-yellow);
    --color-primary2: var(--db-yellow);
    --color-secondary: var(--db-green);
    --color-secondary2: var(--db-green);
    --color-tertiary: var(--db-pink);
    --color-quaternary: var(--db-blue);

    --masthead-primary: var(--db-blue);
    --masthead-secondary: var(--db-green);
  }
}
