/*
!.github
!.gitattributes
!.gitignore
!.gitmodules

!app.html
!deno.json
!deno.jsonc
!mod.ts
!README.md

# Svelte components
!components
components/**/*.*
!components/**/*.html

# DinoSsr routes
!routes
routes/**/*.*
!routes/**/*.html
!routes/**/*.ts

# Source files
!src
src/**/*.*
!src/*.ts
!src/css/**/*.css

# Test files
!test
test/**/*.*
!test/*.ts

# Static files
!public
public/*
!public/assets
!public/images
!public/_headers
!public/_redirects
!public/favicon.ico
!public/manifest.webmanifest
!public/robots.txt
!public/speculation-rules.json
!public/sw.js
