@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/assets/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 1 900;
}

@font-face {
  font-family: "Komika";
  src: url("/assets/fonts/komika-title.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  /* Basic Latin */
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: "Comic Neue";
  src: url("/assets/fonts/comic-neue-bold-italic.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  /* Basic Latin */
  unicode-range: U+0020-007F;
}
