!/**/*.avif
!/**/*.css
!/**/*.gif
!/**/*.jpg
!/**/*.json
!/**/*.mp4
!/**/*.png
!/**/*.svg
!/**/*.txt
!/**/*.webp
!/assets/css/*.xsl
!/assets/fonts/*.woff2
!/assets/scripts/*.js
!/assets/wasm/*.wasm
!/*.ico
!/*.js
!/*.webmanifest
