<aside class="Box Box--cta">
  <p>
    <span>Subscribe</span>
    <a class="Icon" href="/rss.xml">
      <svg aria-hidden="true" viewBox="0 0 512 512" width="24" height="24">
        <use href="#svg-rss" />
      </svg>
      <span>Blog<span class="Hidden"> RSS feed</span></span>
    </a>
    <a class="Icon" href="/notes/rss.xml">
      <svg aria-hidden="true" viewBox="0 0 512 512" width="24" height="24">
        <use href="#svg-rss" />
      </svg>
      <span>Notes<span class="Hidden"> RSS feed</span></span>
    </a>
    <span>or</span>
    <a class="Icon" href="/merge/rss.xml">
      <svg aria-hidden="true" viewBox="0 0 512 512" width="24" height="24">
        <use href="#svg-rss" />
      </svg>
      <span><span>Combined</span></span>
    </a>
    <span>and follow</span>
    <a class="Icon" href="/mastodon/" rel="me noopener noreferrer" target="_blank">
      <svg aria-hidden="true" viewBox="0 0 512 512" width="24" height="24">
        <use href="#svg-mastodon" />
      </svg>
      <span>Mastodon</span>
    </a>
    <a class="Icon" href="/bluesky/" rel="me noopener noreferrer" target="_blank">
      <svg aria-hidden="true" viewBox="0 0 512 512" width="24" height="24">
        <use href="#svg-bluesky" />
      </svg>
      <span>Bluesky</span>
    </a>
  </p>
</aside>
