<script context="component">
  const {hash, href, title, excerpt} = article;
  const id = hash ? `id-${hash}` : undefined;
</script>

<article class="Article">
  <ssr-element tag="{{$local.heading ?? 'h2'}}" data-id="{{id}}" class="Star">
    <a href="{{href}}"><ssr-html>{{title}}</ssr-html></a>
  </ssr-element>
  <ssr-if condition="article.date">
    <p><my-time date="{{article.date}}" /></p>
  </ssr-if>
  <ssr-if condition="excerpt">
    <p><ssr-html>{{excerpt}}</ssr-html></p>
  </ssr-if>
</article>
