<div class="Settings-Tab">
  <button class="Button" type="button" tabindex="-1" popovertarget="settings">
    <svg role="presentation" width="16" height="16" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
    <span>Settings</span>
  </button>
</div>

<dialog popover class="Settings" id="settings" aria-labelledby="settings-heading">
  <header>
    <h2 id="settings-heading">Site Settings</h2>
    <button class="Button" type="button" popovertarget="settings" popoveraction="hide">
      <svg role="presentation" width="16" height="16" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg>
      <span class="Hidden">Close</span>
    </button>
  </header>
  <fieldset>
    <legend>Colour scheme</legend>
    <label for="appearance-system">
      <input
        required
        type="radio"
        class="Hidden | Checkbox"
        id="appearance-system"
        name="appearance"
        value="system"
        checked
      />
      <span>System setting</span>
    </label>
    <label for="appearance-light">
      <input
        required
        type="radio"
        class="Hidden | Checkbox"
        id="appearance-light"
        name="appearance"
        value="light"
      />
      <span>Light mode</span>
    </label>
    <label for="appearance-dark">
      <input
        required
        type="radio"
        class="Hidden | Checkbox"
        id="appearance-dark"
        name="appearance"
        value="dark"
      />
      <span>Dark mode</span>
    </label>
  </fieldset>
</dialog>
