<div class="Masthead">
  <my-logo />
  <a class="Sign" href="/contact/">
    <span class="Hidden">Contact</span>
    <img
      alt="Get in Touch I’m Available for Hire"
      width="540"
      height="325"
      loading="eager"
      fetchpriority="high"
      src="/assets/images/dbushell-for-hire.svg"
      />
  </a>
  <a class="Noai" href="/ai/">
    <span class="Hidden">AI Policy</span>
    <img
      alt=""
      width="400"
      height="220"
      loading="eager"
      fetchpriority="high"
      src="/assets/images/ai-policy.svg"
      />
  </a>
</div>
