@keyframes --search-form {
  100% {
    transform: rotate(360deg);
  }
}

search-form {
  & form {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-block: var(--size-2) var(--size-3);
    position: relative;

    & > * {
      grid-row: 1;
    }

    & svg {
      block-size: 16px;
      fill: oklch(var(--color-primary));
      grid-column: 1 / 2;
      inline-size: 16px;
      inset-inline-start: 12px;
      position: relative;
      z-index: 1;
    }
  }

  & .Field {
    grid-column: 1 / 4;
    padding-inline: 36px calc(20px + 45 * var(--🤡));

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  & .Button {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    font-size: calc(12 * var(--🤡));
    grid-column: 3 / 4;
    padding-inline: 10px;

    &[type="button"] {
      display: none;
    }

    &[type="submit"] {
      @media (scripting: enabled) {
        display: none;
      }
    }

    &:hover {
      border-color: transparent;
    }
  }

  &:state(active) {
    & .Button {
      display: block;
    }
  }

  &:state(searching) {
    & form svg {
      --offset: -1px;
      animation: --search-form 500ms linear infinite;
      border: 2px solid oklch(var(--color-foreground) / 0.5);
      border-inline-end-color: transparent;
      border-radius: 50%;
      inset-block-start: -1px;
      inset-inline-start: 11px;
      fill: transparent;
    }
  }

  & .Rule {
    margin-block-start: var(--size-3);
  }

  & .Box--cta {
    background: none;
    border: none;
    margin-block-start: var(--size-3);
    padding: 0;

    & p {
      --font-size: var(--font-size-0);

      text-align: start;
      text-wrap: balance;
    }
  }
}

@container aside (inline-size >= 35rem) {
  search-form {
    & .Rule {
      inline-size: calc(100% + 2 * var(--size-4));
      margin-inline-start: calc(-1 * (var(--size-1) + var(--size-4)));
    }

    & .Box--cta {
      padding-block-end: var(--size-2);
    }
  }
}
