@layer base, components, modifiers;

@import "base/fonts.css" layer(base);
@import "base/properties.css" layer(base);
@import "base/reset.css" layer(base);
@import "base/body.css" layer(base);
@import "base/hidden.css" layer(base);
@import "base/typography.css" layer(base);
@import "base/code.css" layer(base);

@import "button.css";
@import "checkbox.css";
@import "field.css";
@import "image.css";
@import "list.css";
@import "pagination.css";
@import "prose.css";
@import "rule.css";
@import "star.css";
@import "card.css";
@import "box.css";
@import "note.css";
@import "table.css";
@import "search.css";
@import "footer.css";
@import "settings.css";

@import "crane.css";
@import "form.css";
@import "social.css";
@import "masthead.css";
@import "nav.css";
@import "bio.css";
@import "featured.css";
@import "aside.css";
@import "main.css";
@import "layout.css";

[class*="🤖"],
[class*="🤡"] {
  background: oklch(var(--db-red));
  color: oklch(var(--db-white));
  display: block;
  font-size: var(--font-size-0);
  font-family: var(--font-family);
  font-weight: 700;
  inset-block-end: 0;
  inset-inline: 0;
  inline-size: 100%;
  padding: var(--size-2) var(--size-3);
  position: fixed;
  text-align: center;
  z-index: 999;

  & a,
  & a:hover {
    --anchor-color: var(--db-white);

    &::after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
    }
  }

  & a:focus-visible {
    --outline: var(--border-size-2) dashed oklch(var(--anchor-color));
  }
}

[class*="🤖"] {
  inset-block-end: auto;
  inset-block-start: 0;
}

@media not (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: auto;
  }

  .Logo {
    view-transition-name: logo;
  }

  ::view-transition-group(.heading) {
    block-size: 100%;
  }

  :is(h1, h2) {
    view-transition-name: attr(data-id type(<custom-ident>), none);
    view-transition-class: heading;
  }
}
