.Box {
  align-items: center;
  background: oklch(var(--color-background2));
  border: var(--border-size-2) solid oklch(var(--color-quaternary));
  border-radius: var(--radius-2);
  display: grid;
  gap: var(--size-2);
  grid-template-columns: 1fr;
  padding: var(--size-2);
  position: relative;

  & > * {
    grid-column: 1 / -1;
    margin: 0;
  }
}

@container app (inline-size < 37.5rem) {
  .Box {
    margin-inline: calc(-1 * var(--size-1));
  }
}

@container app (inline-size >= 50rem) {
  .Box {
    margin-inline-start: calc(-1 * var(--size-2));
  }
}
