.Box {
  align-items: center;
  background: oklch(var(--color-background2));
  border: var(--border-size-2) solid oklch(var(--color-quaternary));
  border-radius: var(--radius-2);
  display: grid;
  gap: var(--size-2);
  grid-template-columns: 1fr;
  margin-block-end: var(--size-4);
  padding: var(--size-2);
  position: relative;

  &:last-child {
    margin-block-end: 0;
  }

  & > * {
    grid-column: 1 / -1;
    margin: 0;
  }
}

.Box--cta {
  & p {
    --font-size: var(--font-size-0);
  }

  & a:has(svg) {
    align-items: center;
    display: inline-flex;
    gap: 1px;
    margin-inline-end: 2px;
    vertical-align: top;

    &:hover {
      background: none;
    }

    & svg {
      --size: calc(var(--font-size) * var(--line-height));
      inline-size: calc(0.8 * var(--size));
      fill: currentColor;
    }
  }
}

@container body (inline-size < 37.5rem) {
  .Box {
    margin-inline: calc(-1 * var(--size-1));
  }
}

@container body (inline-size >= 50rem) {
  .Box {
    margin-inline-start: calc(-1 * var(--size-2));
  }
}
