.Button {
  --button-shadow: var(--color-quaternary);
  appearance: none;
  background: oklch(var(--color-background2));
  border: calc((2 / 16) * 1rem) solid oklch(var(--color-primary) / 0.5);
  border-top: 0;
  border-left: 0;
  border-radius: calc((5 / 16) * 1rem);
  box-shadow: calc((-1 / 16) * 1rem) calc((-1 / 16) * 1rem) 0
      calc((1 / 16) * 1rem) oklch(var(--button-shadow)),
    calc((2 / 16) * 1rem) calc((2 / 16) * 1rem) 0 0 oklch(var(--db-black) / 0.1);
  color: oklch(var(--color-primary));
  display: block;
  font-size: var(--step-s);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: calc((1 / 16) * 1rem);
  max-width: max-content;
  padding: calc((7 / 16) * 1rem) calc((16 / 16) * 1rem);
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: color 200ms, border 200ms, box-shadow 200ms;
  user-select: none;

  &:hover {
    --button-shadow: var(--color-tertiary);
    border-color: oklch(var(--color-tertiary));
    color: oklch(var(--color-tertiary));
    cursor: pointer;
  }

  &:focus {
    outline: var(--outline);
    outline-offset: calc((4 / 16) * 1rem);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
