.Crane {
  align-items: center;
  display: grid;
  grid-gap: var(--size-2);
  grid-template-columns: 100%;
  margin-block-end: var(--size-4);

  &:last-child {
    margin-block-end: 0;
  }

  & img {
    margin: auto;
    transform: translateX(-5%);
    inline-size: auto;

    :where(:root[data-theme='dark']) & {
      filter: saturate(1.1) brightness(1.1) contrast(1.1);
    }
  }
}

@container main (inline-size < 25rem) {
  .Crane {
    & img {
      max-inline-size: 50%;
    }

    & .List,
    & .Button {
      display: block;
      margin-inline-start: auto;
      margin-inline-end: auto;
      max-inline-size: max-content;
    }
  }
}

@container main (inline-size >= 25rem) {
  .Crane {
    grid-template-columns: minmax(auto, 50%) auto;
  }
}

@container main (inline-size >= 37.5rem) {
  .Crane {
    grid-gap: var(--size-4);
  }
}
