.Field {
  --field-shadow: oklch(var(--color-primary) / 0.5);
  background: oklch(var(--color-background2));
  border: var(--border-size-2) solid oklch(var(--color-quaternary));
  border-top: 0;
  border-left: 0;
  border-radius: var(--radius-1);
  box-shadow: -1px -1px 0 1px var(--field-shadow),
    2px 2px 0 0 oklch(0% 0 0 / 0.1);
  color: oklch(var(--color-foreground));
  display: block;
  font-size: var(--font-size-0);
  font-family: 'Raleway', sans-serif;
  font-weight: 550;
  line-height: var(--line-height-2);
  padding: 7px 10px;
  transition: color 200ms, border-color 200ms, box-shadow 200ms;
  inline-size: 100%;

  &:focus-visible {
    --field-shadow: oklch(var(--color-primary));
    border-color: oklch(var(--color-primary));
    color: oklch(var(--color-primary));
    outline: var(--outline);
    outline-offset: 4px;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
