.Image {
  margin: 0;
  max-width: none;

  &[href] {
    display: block;
    width: fit-content;
  }

  & img,
  & video {
    display: block;
    background-color: oklch(var(--db-black) / 0.2);
    border-radius: calc((3 / 16) * 1rem);
    border: calc((2 / 16) * 1rem) solid oklch(var(--color-background));
    box-shadow: calc((-4 / 16) * 1rem) 0 0 calc((-2 / 16) * 1rem)
        oklch(var(--color-secondary)),
      calc((4 / 16) * 1rem) calc((4 / 16) * 1rem) 0 0
        oklch(var(--db-black) / 0.2);
    margin: calc((36 / 16) * 1rem) 0;
    position: relative;
  }

  & figcaption {
    margin: calc((-18 / 16) * 1rem) 0 calc((27 / 16) * 1rem) 0;
  }
}

.Image--basic {
  &[href] {
    img {
      border: calc((2 / 16) * 1rem) solid currentColor;
      border-radius: calc((9 / 16) * 1rem);
      box-sizing: content-box;
      overflow: hidden;
    }
  }

  & img {
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }
}
