.Box {
  align-items: center;
  background: oklch(var(--color-background2));
  border: calc((2 / 16) * 1rem) solid oklch(var(--color-quaternary));
  border-radius: calc((9 / 16) * 1rem);
  container-name: box;
  container-type: inline-size;
  display: grid;
  gap: calc((18 / 16) * 1rem);
  grid-template-columns: 1fr;
  padding: calc((18 / 16) * 1rem);
  position: relative;
  margin: calc((36 / 16) * 1rem) 0;

  &:last-child {
    margin-block-end: 0;
  }

  & > * {
    grid-column: 1 / -1;
    margin: 0;
  }
}

.Kofi {
  gap: calc((9 / 16) * 1rem);
  grid-template-columns: auto 1fr auto;
  transition: border-color 200ms;

  &:has(> [href]:hover, > [href]:focus) {
    border-color: oklch(var(--color-secondary));

    & h2 {
      color: oklch(var(--color-tertiary));
    }
  }

  & > h2 {
    font-size: var(--step-1);
    transition: color 200ms;
  }

  & > p {
    font-size: var(--step-s);
  }

  & > a {
    background: none;
    text-decoration: none;
    width: fit-content;

    &::after {
      content: '';
      display: block;
      inset: 0;
      position: absolute;
    }
  }

  & > h2 {
    font-size: var(--step-1);
    transition: color 200ms;
  }

  & > p {
    font-size: var(--step-s);

    & a {
      position: relative;
    }

    & img {
      align-self: center;
      height: calc((20 / 16) * 1rem);
      width: auto;
    }

    &:nth-of-type(2) {
      display: flex;
      gap: calc((9 / 16) * 1rem);
    }

    &:nth-of-type(3) {
      justify-self: end;
      text-align: end;
    }
  }
}

@container box (inline-size < calc((400 / 16) * 1rem)) {
  .Kofi {
    & > h2 {
      grid-row: 1;
    }

    & > p {
      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        grid-row: 1;
      }
    }
  }
}

@container box (inline-size >= calc((400 / 16) * 1rem)) {
  .Kofi {
    & > h2 {
      grid-column: 1 / 2;
    }

    & > a {
      grid-column: 2 / 4;
      justify-self: end;
    }

    & > p {
      & ~ & {
        grid-row: 3;
      }
    }
  }
}

.Kofi-button {
  --inset: calc((36 / 16) * 1rem);
  font-size: var(--step-s);
  inset-block-end: var(--inset);
  inset-inline-end: var(--inset);
  line-height: 1;
  margin: 0;
  position: fixed;

  & a {
    align-items: center;
    display: flex;
    gap: calc((9 / 16) * 1rem);
    text-decoration: none;

    &:focus,
    &:hover {
      & span {
        opacity: 1;
      }
    }
  }

  & img {
    width: calc((40 / 16) * 1rem);
  }

  & span {
    background: oklch(var(--color-background2));
    border: calc((1 / 16) * 1rem) solid currentColor;
    border-radius: calc((5 / 16) * 1rem);
    opacity: 0;
    padding: calc((9 / 16) * 1rem);
    transition: opacity 200ms;
    white-space: nowrap;
  }
}

@media (width < calc((400 / 16) * 1rem)) or (height < calc((400 / 16) * 1rem)) {
  .Kofi-button {
    display: none;
  }
}
