.Lightbulb {
  --lightbulb-stroke: oklch(var(--db-blue));
  --lightbulb-fill: oklch(var(--db-yellow));
  --lightbulb-rays: 1;
  display: none;
  block-size: auto;
  inset-inline-start: var(--page-margin);
  padding: var(--size-1);
  padding-block-start: var(--size-2);
  position: absolute;
  inset-block-start: 0;
  transform: translateY(calc(-1 * var(--size-1)));
  transition: transform 100ms;
  inline-size: 45px;
  z-index: 10;

  &:before {
    background: var(--lightbulb-stroke);
    bottom: calc(100% - 19px);
    content: '';
    display: block;
    block-size: var(--size-4);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    inline-size: 1px;
  }

  &:hover {
    transform: translateY(0);
    --lightbulb-stroke: oklch(var(--db-blue));
    --lightbulb-fill: oklch(var(--db-blue) / 0.5);
    --lightbulb-rays: 0;
  }

  &:focus-visible {
    outline: var(--outline);
  }

  & path {
    transition: fill 100ms, opacity 100ms;
  }

  :where(:root[data-theme='dark']) & {
    --lightbulb-stroke: oklch(var(--db-green));
    --lightbulb-fill: transparent;
    --lightbulb-rays: 0;

    &:hover {
      --lightbulb-stroke: oklch(var(--db-yellow));
      --lightbulb-fill: oklch(var(--db-yellow) / 0.5);
      --lightbulb-rays: 1;
    }
  }
}

@media (scripting: enabled) {
  .Lightbulb {
    display: block;
  }
}

@container body (inline-size < 25rem) {
  .Lightbulb {
    margin-inline-start: -12px;
  }
}
