.Lightbulb {
  --lightbulb-stroke: oklch(var(--db-blue));
  --lightbulb-fill: oklch(var(--db-yellow));
  --lightbulb-rays: 1;
  height: auto;
  left: var(--page-margin);
  padding: calc((9 / 16) * 1rem);
  padding-block-start: calc((18 / 16) * 1rem);
  position: absolute;
  top: 0;
  transform: translateY(calc((-9 / 16) * 1rem));
  transition: transform 100ms;
  width: calc((45 / 16) * 1rem);
  z-index: 10;

  &:before {
    background: var(--lightbulb-stroke);
    bottom: calc(100% - ((19 / 16) * 1rem));
    content: '';
    display: block;
    height: calc((36 / 16) * 1rem);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: calc((1 / 16) * 1rem);
  }

  &:hover {
    transform: translateY(0);
    --lightbulb-stroke: oklch(var(--db-blue));
    --lightbulb-fill: oklch(var(--db-blue) / 0.5);
    --lightbulb-rays: 0;
  }

  &:focus {
    outline: var(--outline);
  }

  &:not(:focus-visible) {
    outline: none;
  }

  & path {
    transition: fill 100ms, opacity 100ms;
  }

  .Noscript & {
    display: none;
  }

  .Darkmode & {
    --lightbulb-stroke: oklch(var(--db-green));
    --lightbulb-fill: transparent;
    --lightbulb-rays: 0;

    &:focus,
    &:hover {
      --lightbulb-stroke: oklch(var(--db-yellow));
      --lightbulb-fill: oklch(var(--db-yellow) / 0.5);
      --lightbulb-rays: 1;
    }
  }
}

@container app (inline-size < calc((400 / 16) * 1rem)) {
  .Lightbulb {
    margin-inline-start: calc((-12 / 16) * 1rem);
  }
}
