.Masthead {
  position: relative;

  &::before {
    content: '';
    display: block;
    inline-size: 100%;
    padding-block-end: 50%;
  }

  &::after {
    background: oklch(var(--masthead-primary));
    background-image: url('/assets/images/masthead-pattern.svg');
    background-size: calc((300 / 16) * 1rem) auto;
    border-radius: 100%;
    content: '';
    display: block;
    block-size: 140%;
    left: 50%;
    position: absolute;
    inset-block-start: 50%;
    transform: translateX(-50%) translateY(-67%) rotateZ(-8deg);
    inline-size: 110%;
    z-index: 1;
  }

  & .Logo {
    position: absolute;
    inset-block-start: 21%;
    right: calc(17% + 0.5 * var(--page-margin));
    inline-size: 75%;
    z-index: 2;
  }

  & .Sign {
    position: absolute;
    inset-block-start: 5%;
    right: calc(0.5 * var(--page-margin));
    inline-size: 30%;
    z-index: 3;
  }
}

@container body (inline-size < 25rem) {
  .Masthead {
    &::after {
      block-size: 150%;
      inline-size: 125%;
    }
  }
}
