.Nav {
  & ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--size-0);
    margin: calc(-1 * var(--size-0));
  }

  & li {
    flex: 0 0 auto;
  }

  & a {
    align-items: center;
    display: flex;
    font-size: var(--font-size-0);
    font-weight: 750;
    letter-spacing: calc(0.5 * var(--rem));
    min-block-size: 100%;
    padding: var(--size-0);
    text-transform: uppercase;
    outline-offset: -2px;

    &[aria-current='page'] {
      --anchor-color: var(--color-secondary2);
      --anchor-opacity: 0;
    }
  }
}

@container main (inline-size < 25rem) {
  .Nav {
    max-inline-size: calc((300 / 16) * 1rem);
  }
}

@container app (inline-size >= 50rem) {
  .Nav {
    & ul {
      column-gap: var(--size-1);
    }
  }
}
