.Pagination {
  display: flex;
  justify-content: space-between;

  & .Button {
    align-items: center;
    display: flex;

    & svg {
      fill: currentColor;
      block-size: 12px;
      stroke: currentColor;
      inline-size: 12px;

      &:first-child {
        margin-inline: -4px 6px;
      }

      &:last-child {
        margin-inline: 6px -4px;
      }
    }
  }
}
