.Star,
.List li,
.Prose :where(ul:not([class*='List'])) li {
  position: relative;

  &::before {
    content: '•';
    color: transparent;
    background-image: var(--star);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: calc((16 / 16) * 1rem) auto;
    margin-inline-start: calc((-36 / 16) * 1rem);
    position: absolute;
    width: calc((36 / 16) * 1rem);
  }
}

@container app (inline-size < calc((800 / 16) * 1rem)) {
  .Star,
  .List li,
  .Prose :where(ul:not([class*='List'])) li {
    &::before {
      background-size: calc((12 / 16) * 1rem) auto;
      background-position: center center;
      margin-inline-start: calc((-27 / 16) * 1rem);
      width: calc((27 / 16) * 1rem);
    }
  }
}
