.Star,
.List li,
.Prose :where(ul:not([class*='List'], [class*='Form'])) li {
  position: relative;

  &::before {
    content: '•';
    color: transparent;
    background: oklch(var(--color-secondary));
    mask: var(--star) center center / 16px auto no-repeat;
    inset-inline-start: calc(-1 * var(--size-4));
    position: absolute;
    inline-size: var(--size-4);
  }
}

@container app (inline-size < 37.5rem) {
  .Star,
  .List li,
  .Prose :where(ul:not([class*='List'], [class*='Form'])) li {
    padding-inline-start: var(--size-2);

    &::before {
      mask-size: 12px auto;
      inset-inline-start: calc(-0.5 * var(--size-3));
      inline-size: var(--size-3);
    }
  }
}
